:root{
    --main-color: rgb(102, 172, 199);
    --main-bg-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: var(--main-bg-color);
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover {
    color: rgb(102, 172, 199);
    text-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    transform: scale(1.1);
}

span {
    color: var(--main-color);
}

.navbar a {
    font-size: 18px;
    color: var(--main-bg-color);
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover, .navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.contact {
    padding: 10px 28px;
    background-color: var(--main-bg-color);
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}   

.contact:hover {
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    color: var(--main-bg-color);
}

.home {
    width: 100%;
    min-height: 100vh;
    background: rgba(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
 
.home-content {
    max-width: 800px;
}

.home-content h3 {
    font-size: 42px;
}

.home-content h1 {
    font-size: 62px;
    line-height: 1.2;
}

.home-content p {
    font-size: 20px;
    margin: 25px 0 30px;
    font-family: 'Segoe UI';
}

.btn-box {
    width: 370px;
    display: flex;
    gap: 2em;
}

.btn-1 {
    padding: 15px 28px;
    background-color: black;
    color: var(--main-bg-color);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover {
    background-color: var(--main-bg-color);
    color: black;
    border: 2px solid black;
}

.btn-2 {
    padding: 15px 28px;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-2:hover {
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.img-box img {
    border-radius: 50%;
    width: 550px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.6);
    width: 50px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}

.about-img img {
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    border-radius: 50%;
}

.about-content h2 {
    text-align: left;
    color: var(--main-bg-color);
    font-size: 42px;
}

.about-content h3 {
    font-size: 62px;
    color: var(--main-bg-color);
}

.about-content p {
    color: var(--main-bg-color);
    font-size: 20px;
    margin: 2em 0 3em;
    font-family: 'Segoe UI';
}

.footer {
    position: relative;
    bottom: 0;
    padding: 40px;
    width: 100%;
    background-color: black;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-bg-color);
}

.footer .social a {
    font-size: 24px;
    color: var(--main-bg-color);
    border: 2px solid var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px var(--main-color), 0 0 10px var(--main-color);
    transition: 0.3s ease;
    padding-top: 2px;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: var(--main-bg-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-inline-start: 15px;
    text-align: center;
    font-size: 12px;
    color: var(--main-bg-color);
}

html {
    scroll-behavior: smooth;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 100px;
}

.project {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 30px;
    width: calc(35% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
    transition: transform 0.3s, box-shadow 0.3s;
    color: black;
    height: 650px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    background-color: rgb(77, 153, 182);
}

.project img {
    max-width: 400px;
    height: 400px;
    border-radius: 25px;
    display: block;
    
}

.project h3 {
    margin-top: 0;
    color: #333;
}

.project p {
    color: black;
    line-height: 1.6;
}

.projects h2 {
    text-align: left;
    color: var(--main-color);
    font-size: 62px;
}

@media (max-width: 800px) {
   
    .navbar {
        display: none;
    }

   
    .header {
        justify-content: space-between;
    }
    .home {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .home-content {
        max-width: 100%;
        text-align: center;
    }
    .home-content h1 {
        font-size: 3rem;
    }
    .home-content p {
        font-size: 1.2rem;
    }

    .img-box {
        max-width: 100%;
        margin-top: 100px;
        align-items: center;
        justify-content: center;
        order: -1;
    }
    .btn-box {
        justify-content: center;
        flex-direction: row;
        align-items: center;
        
        width: 100%;
        gap: 15px;
    }

    .btn-1, .btn-2 {
        padding: 8px 16px;
        font-size: 0.9rem;
        width: 100%; 
        max-width: 300px; 
    }

    .about {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding-bottom: 50px;
    }

    
    .about-img {
        max-width: 100%;
        margin-bottom: 5px;
        order: -1;
        margin-top: 60px;
    }


    .about-content {
        max-width: 100%;
        text-align: center;
        order: 2;
        margin-top: -100px;
    }

    .about-content h3 {
        font-size: 1.8rem;
    }

    .about-content p {
        font-size: 0.9rem;
    }


    .btn-2 {
        padding: 14px 16px;
        font-size: 0.9rem;
        width: 100%;
        max-width: 300px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .projects {
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        flex: 0 1 100%;
    }

    .project {
        flex: 0 1 100%; 
        max-width: 100%;
        
    }

    .project img {
        border-radius: 15px;
    }

    .project h3 {
        font-size: 1.2rem;
    }

    .project p {
        font-size: 0.9rem;
    }
}


